body, h1, h3, form, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

/* Forms */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu form {
    gap: 20px;
}

form input[type="text"], #tags, #tags2, #character {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Tables */
table {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Input Groups */
.input-group2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.input-group2 label {
    margin-right: 10px;
}

/* Div Links */
div {
    text-align: center;
    margin-top: 10px;
}

div a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

div a:hover {
    background-color: #f1f1f1;
}

div a:active {
    background-color: #ddd;
}

/* Messages */
.success-message, .error-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.success-message {
    color: green;
    background-color: #d4edda;
    border: 1px solid green;
}

.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid red;
}

/* Buttons */
.btn {
    align-items: center;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-update {
    background-color: #4c54ae;
    color: white;
    border: 2px solid #3942a4;
}

.btn-update:hover {
    background-color: #232c8e;
    transform: scale(1.05);
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    border: 2px solid #c82333;
}

.btn-delete:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.deleteButtonForm {
    max-width: 500px;
    margin-left: 10px;
    padding: 0;
    background-color: #fff;
    box-shadow: none;
}

/* Pagination Info */
.pagination-info {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

.pagination-info span {
    margin: 0 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    form input[type="text"], form input[type="submit"], #tags {
        width: 100%;
    }

    table {
        width: 100%;
    }
}
