<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/crud.js" defer></script>
    <link rel="stylesheet" href="/css/crud.css">
</head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};

</script>

<h1> Gestión de Paises</h1>
<div class="menu">
    <form action="/countries" method="post">
        <label for="action-select">Seleccione una acción:</label>
        <select id="action-select" name="actionSelect">
            <option value="view-all">Obtener todos los paises</option>
            <option value="search-by-name">Buscar por nombre</option>
            <option value="create-new">Crear nuevo pais</option>
        </select>
        <input type="submit">
    </form>
</div>

<section th:if="${viewAll}">
    <h2>Lista de Paises</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Código ISO</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
            <td th:text="${country.countryId}"></td>
            <td th:text="${country.countryIsoCode}"></td>
            <td th:text="${country.countryName}"></td>
            <td>
                <a th:href="@{/updateCountry/{id}(id=${country.countryId})}" class="btn btn-update">
                    Actualizar
                </a>

                <form class="deleteButtonForm" action="/deleteCountry" method="post" style="display:inline;">
                    <input type="hidden" th:value="${country.countryId}" name="countryId">
                    <input type="hidden" th:value="${currentPage}" name="currentPage">
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este pais?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:if="${currentPage > 0}"
           th:href="@{/allCountries(page=0, size=${size})}">Primero</a>

        <a th:if="${currentPage > 0}"
           th:href="@{/allCountries(page=${currentPage - 1}, size=${size})}">Anterior</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/allCountries(page=${currentPage + 1}, size=${size})}">Siguiente</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/allCountries(page=${totalPages - 1}, size=${size})}">Último</a>
    </div>

    <div class="pagination-info">
        <span>Página actual: <span th:text="${currentPage + 1}"></span> de <span th:text="${totalPages}"></span></span>
    </div>
</section>

<section th:if="${searchByName}">
    <h2>Buscar Pais por Nombre</h2>
    <div class="ui-widget">
        <form action="/searchCountries" method="post">
            <label for="tags">Nombre del pais: </label>
            <input type="text" id="tags" name="countryName">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <table th:if="${countriesFound != null and #lists.size(countriesFound) > 0}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Código ISO</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countriesFound}">
            <td th:text="${country.countryId}"></td>
            <td th:text="${country.countryIsoCode}"></td>
            <td th:text="${country.countryName}"></td>
            <td>
                <a th:href="@{/updateCountry/{id}(id=${country.countryId})}" class="btn btn-update">
                    Actualizar
                </a>

                <form class="deleteButtonForm" action="/deleteCountry" method="post" style="display:inline;">
                    <input type="hidden" th:value="${country.countryId}" name="countryId">
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este pais?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<section th:if="${createNew}">
    <h2>Crear Nuevo Pais</h2>
    <form action="/createCountry" method="post">
        <label for="iso">Código Iso:</label>
        <input type="text" id="iso" name="countryIsoCode">
        <label for="countryName">Nombre:</label>
        <input type="text" id="countryName" name="countryName">
        <input type="submit" value="Crear">
    </form>
</section>

<section th:if="${update}">
    <h2>Actualizar País</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Código ISO</th>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${country.countryId}"></td>
            <td th:text="${country.countryIsoCode}"></td>
            <td th:text="${country.countryName}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{/updateCountry/{countryId}(countryId=${country.countryId})}" method="post">            <input type="hidden" th:value="${country.countryId}" name="countryId">
            <label for="isoChanged">Código Iso:</label>
            <input type="text" id="isoChanged" name="countryIsoCode">
            <label for="nameChanged">Nombre:</label>
            <input type="text" id="nameChanged" name="countryName">
            <input type="submit" value="Actualizar">
        </form>
    </div>


</section>

<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>

<script src="/js/crud.js"></script>

</body>
</html>
