<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Palabras clave</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/js/crud.js" defer></script>
    <script src="/js/crud.js" defer></script>
    <link rel="stylesheet" href="/css/crud.css">
</head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};

</script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Películas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/moviesQuerys">Consultas</a>
                </li>

                <li th:if="${logReg}" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li th:if="${logReg}" class="nav-item">
                    <a class="nav-link" href="/register">Registro</a>
                </li>


                <!-- Dropdown for Gestión Entidades -->
                <li th:unless="${logReg}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestionesDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión Entidades
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gestionesDropdown">
                        <li><a class="dropdown-item" href="/manage/movie">Películas</a></li>
                        <li><a class="dropdown-item" href="/manage/production_company">Compañías de Producción</a></li>
                        <li><a class="dropdown-item" href="/manage/departments">Departamentos</a></li>
                        <li><a class="dropdown-item" href="/manage/genders">Géneros</a></li>
                        <li><a class="dropdown-item" href="/manage/movie_genres">Géneros de Película</a></li>
                        <li><a class="dropdown-item" href="/manage/languages">Idiomas</a></li>
                        <li><a class="dropdown-item" href="/manage/countries">Países de Producción</a></li>
                        <li><a class="dropdown-item" href="/manage/keywords">Palabras Clave</a></li>
                        <li><a class="dropdown-item" href="/manage/people">Personas</a></li>
                        <li><a class="dropdown-item" href="/manage/language_roles">Roles del Lenguaje</a></li>
                    </ul>
                </li>

                <li th:unless="${logReg}" class="nav-item">
                    <a class="nav-link" href="/permissions">Permisos</a>
                </li>
                <li th:unless="${logReg}" class="nav-item">
                    <a class="nav-link" href="/closeSesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h1> Gestión de Palabras Clava</h1>
<div class="menu">
    <form action="/keywords" method="post">
        <label for="action-select">Seleccione una acción:</label>
        <select id="action-select" name="actionSelect">
            <option value="view-all">Obtener todas las palabras clave</option>
            <option value="search-by-name">Buscar por nombre</option>
            <option value="create-new">Crear nueva palabra</option>
        </select>
        <input type="submit">
    </form>
</div>

<section th:if="${viewAll}">
    <h2>Lista de Palabras clave</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keyword : ${keywords}">
            <td th:text="${keyword.keywordId}"></td>
            <td th:text="${keyword.keywordName}"></td>
            <td>
                <a th:href="@{/updateKeyword/{id}(id=${keyword.keywordId})}" class="btn btn-update">
                    Actualizar
                </a>

                <form class="deleteButtonForm" action="/deleteKeyword" method="post" style="display:inline;">
                    <input type="hidden" th:value="${keyword.keywordId}" name="keywordId">
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta palabra clave?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:if="${currentPage > 0}"
           th:href="@{/allKeywords(page=0, size=${size})}">Primero</a>

        <a th:if="${currentPage > 0}"
           th:href="@{/allKeywords(page=${currentPage - 1}, size=${size})}">Anterior</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/allKeywords(page=${currentPage + 1}, size=${size})}">Siguiente</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/allKeywords(page=${totalPages - 1}, size=${size})}">Último</a>
    </div>

    <div class="pagination-info">
        <span>Página actual: <span th:text="${currentPage + 1}"></span> de <span th:text="${totalPages}"></span></span>
    </div>
</section>

<section th:if="${searchByName}">
    <h2>Buscar Palabra clave por Nombre</h2>
    <div class="ui-widget">
        <form action="/searchKeywords" method="post">
            <label for="tags">Nombre de la keyword: </label>
            <input type="text" id="tags" name="keywordName">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <table th:if="${keywordsFound != null and #lists.size(keywordsFound) > 0}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keyword : ${keywordsFound}">
            <td th:text="${keyword.keywordId}"></td>
            <td th:text="${keyword.keywordName}"></td>
            <td>
                <a th:href="@{/updateKeyword/{id}(id=${keyword.keywordId})}" class="btn btn-update">
                    Actualizar
                </a>

                <form class="deleteButtonForm" action="/deleteKeyword" method="post" style="display:inline;">
                    <input type="hidden" th:value="${keyword.keywordId}" name="keywordId">
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta palabra clave?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<section th:if="${createNew}">
    <h2>Crear Nueva Palabra Clave</h2>
    <form action="/createKeyword" method="post">
        <label for="keywordName">Nombre:</label>
        <input type="text" id="keywordName" name="keywordName">
        <input type="submit" value="Crear">
    </form>
</section>

<section th:if="${update}">
    <h2>Actualizar keyword</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${keyword.keywordId}"></td>
            <td th:text="${keyword.keywordName}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{/updateKeyword/{keywordId}(keywordId=${keyword.keywordId})}" method="post">
            <input type="hidden" th:value="${keyword.keywordId}" name="keywordId">
            <label for="nameChanged">Nombre:</label>
            <input type="text" id="nameChanged" name="keywordName">
            <input type="submit" value="Actualizar">
        </form>
    </div>


</section>

<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/js/crud.js"></script>

</body>
</html>
