<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/js/crud.js" defer></script>
    <link rel="stylesheet" href="/css/crud.css">

</head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};

</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 p-2">
    <div class="container-fluid m-0 p-0">
        <h5 class="text-light fw-bold m-0">Películas</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-0 " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item d-flex justify-content-center align-items-center">
                    <a class="nav-link " href="/moviesQuerys">Consultas</a>
                </li>

                <li th:if="${logReg}" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li th:if="${logReg}" class="nav-item">
                    <a class="nav-link" href="/register">Registro</a>
                </li>

                <li th:unless="${logReg}" class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="gestionesDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión Entidades
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gestionesDropdown">
                        <li><a class="dropdown-item" href="/manage/movie">Películas</a></li>
                        <li><a class="dropdown-item" href="/manage/production_company">Compañías de Producción</a></li>
                        <li><a class="dropdown-item" href="/manage/departments">Departamentos</a></li>
                        <li><a class="dropdown-item" href="/manage/genders">Géneros</a></li>
                        <li><a class="dropdown-item" href="/manage/movie_genres">Géneros de Película</a></li>
                        <li><a class="dropdown-item" href="/manage/languages">Idiomas</a></li>
                        <li><a class="dropdown-item" href="/manage/countries">Países de Producción</a></li>
                        <li><a class="dropdown-item" href="/manage/keywords">Palabras Clave</a></li>
                        <li><a class="dropdown-item" href="/manage/people">Personas</a></li>
                        <li><a class="dropdown-item" href="/manage/language_roles">Roles del Lenguaje</a></li>
                    </ul>
                </li>

                <li th:unless="${logReg}" class="nav-item">
                    <a class="nav-link " href="/permissions">Permisos</a>
                </li>
                <li th:unless="${logReg}" class="nav-item">
                    <a class="nav-link" href="/closeSesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1> Gestión de Películas</h1>
<div class="menu">
    <form action="/movies" method="post">
        <label for="action-select">Seleccione una acción:</label>
        <select id="action-select" name="actionSelect">
            <option value="view-all">Obtener todas las películas</option>
            <option value="searchByTitle">Buscar por título</option>
            <option value="searchByActor">Buscar por actor</option>
            <option value="searchByCharacter">Buscar por personaje</option>
            <option value="searchByGenre">Buscar por género de la película</option>
            <option value="searchByDirector">Buscar por director</option>
            <option value="create-new">Crear nueva película</option>
        </select>
        <input type="submit">
    </form>
</div>

<section th:if="${viewAll}">
    <h2>Lista de Películas</h2>
    <table>
        <thead>
        <tr>
            <th style="width: 3%;">Id</th>
            <th style="width: 4%;">Título</th>
            <th>Presupuesto</th>
            <th style="width: 15%;">Resumen</th>
            <th>Popularidad</th>
            <th>Estreno</th>
            <th>Ingresos</th>
            <th>Duración</th>
            <th>Estado</th>
            <th style="width: 13%;">Tagline</th>
            <th style="width: 3%;">Votos</th>
            <th th style="width: 13%;">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.movieId}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.budget}"></td>
            <td th:text="${movie.overview}"></td>
            <td th:text="${movie.popularity}"></td>
            <td th:text="${movie.releaseDate}"></td>
            <td th:text="${movie.revenue}"></td>
            <td th:text="${movie.runtime}"></td>
            <td th:text="${movie.movieStatus}"></td>
            <td th:text="${movie.tagline}"></td>
            <td th:text="${movie.voteAverage}"></td>
            <td class="buttons">
                <a th:href="@{/updateMovie/{id}(id=${movie.movieId})}" class="btn btn-update">
                    Actualizar
                </a>

                <form class="deleteButtonForm" action="/deleteMovie" method="post" style="display:inline;">
                    <input type="hidden" th:value="${movie.movieId}" name="movieId">
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta película?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:if="${currentPage > 0}"
           th:href="@{/allMovies(page=0, size=${size})}">Primero</a>

        <a th:if="${currentPage > 0}"
           th:href="@{/allMovies(page=${currentPage - 1}, size=${size})}">Anterior</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/allMovies(page=${currentPage + 1}, size=${size})}">Siguiente</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/allMovies(page=${totalPages - 1}, size=${size})}">Último</a>
    </div>

    <div class="pagination-info">
        <span>Página actual: <span th:text="${currentPage + 1}"></span> de <span th:text="${totalPages}"></span></span>
    </div>
</section>

<section th:if="${search}">
    <div th:if="${searchByTitle}">
    <h2>Buscar Película por Título</h2>
        <div class="ui-widget">
            <form action="/searchMovies/searchByTitle" method="post">
            <label for="tags">Título de la película: </label>
            <input type="text" id="tags" name="condition">
            <input type="submit" value="Buscar">
        </form>
        </div>
    </div>
    <div th:if="${searchByActor}">
        <h2>Buscar Película por Actor</h2>
        <div class="ui-widget">
            <form action="/searchMovies/searchByActor" method="post">
                <label for="tags">Nombre del actor: </label>
                <input type="text" id="tags" name="condition">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <div th:if="${searchByCharacter}">
        <h2>Buscar Película por Personaje</h2>
        <div class="ui-widget">
            <form action="/searchMovies/searchByCharacter" method="post">
                <label for="tags">Nombre del personaje: </label>
                <input type="text" id="tags" name="condition">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <div th:if="${searchByGenre}">
        <h2>Buscar Película por Género</h2>
        <div class="ui-widget">
            <form action="/searchMovies/searchByGenre" method="post">
                <label for="tags">Género: </label>
                <input type="text" id="tags" name="condition">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <div th:if="${searchByDirector}">
        <h2>Buscar Película por Director</h2>
        <div class="ui-widget">
            <form action="/searchMovies/searchByDirector" method="post">
                <label for="tags">Nombre del director: </label>
                <input type="text" id="tags" name="condition">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <table th:if="${moviesFound != null and #lists.size(moviesFound) > 0}">
        <thead>
        <tr>
            <th style="width: 3%;">Id</th>
            <th style="width: 4%;">Título</th>
            <th>Presupuesto</th>
            <th style="width: 15%;">Resumen</th>
            <th>Popularidad</th>
            <th>Estreno</th>
            <th>Ingresos</th>
            <th>Duración</th>
            <th>Estado</th>
            <th style="width: 13%;">Tagline</th>
            <th style="width: 3%;">Votos</th>
            <th th style="width: 13%;">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${moviesFound}">
            <td th:text="${movie.movieId}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.budget}"></td>
            <td th:text="${movie.overview}"></td>
            <td th:text="${movie.popularity}"></td>
            <td th:text="${movie.releaseDate}"></td>
            <td th:text="${movie.revenue}"></td>
            <td th:text="${movie.runtime}"></td>
            <td th:text="${movie.movieStatus}"></td>
            <td th:text="${movie.tagline}"></td>
            <td th:text="${movie.voteAverage}"></td>
            <td class="buttons">
                <a th:href="@{/updateMovie/{id}(id=${movie.movieId})}" class="btn btn-update">
                    Actualizar
                </a>

                <form class="deleteButtonForm" action="/deleteMovie" method="post" style="display:inline;">
                    <input type="hidden" th:value="${movie.movieId}" name="movieId">
                    <button type="submit" class="btn btn-delete"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta película?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div >
        <a th:if="${currentPage > 0}"
           th:href="@{/searchMovies/{actionSelect}(actionSelect=${actionSelect}, condition=${condition}, page=0, size=${size})}">Primero</a>

        <a th:if="${currentPage > 0}"
           th:href="@{/searchMovies/{actionSelect}(actionSelect=${actionSelect}, condition=${condition}, page=${currentPage - 1}, size=${size})}">Anterior</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/searchMovies/{actionSelect}(actionSelect=${actionSelect}, condition=${condition}, page=${currentPage + 1}, size=${size})}">Siguiente</a>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/searchMovies/{actionSelect}(actionSelect=${actionSelect}, condition=${condition}, page=${totalPages - 1}, size=${size})}">Último</a>
    </div>
</section>

<section th:if="${createNew}">
    <h2>Crear Nueva Película</h2>
    <form action="/createMovie" method="post">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="budget">Presupuesto:</label>
        <input type="number" id="budget" name="budget">
        <br>

        <label for="homepage">Enlace:</label>
        <input type="text" id="homepage" name="homepage">
        <br>

        <label for="overview">Resumen:</label>
        <input type="text" id="overview" name="overview">
        <br>

        <label for="popularity">Popularidad:</label>
        <input type="number" step="0.01" id="popularity" name="popularity">
        <br>

        <label for="releaseDate">Fecha de estreno:</label>
        <input type="date" id="releaseDate" name="releaseDate">
        <br>

        <label for="revenue">Ingresos:</label>
        <input type="number" id="revenue" name="revenue">
        <br>

        <label for="runtime">Duración:</label>
        <input type="number" id="runtime" name="runtime">
        <br>

        <label for="movieStatus">Estado:</label>
        <input type="text" id="movieStatus" name="movieStatus">
        <br>

        <label for="tagline">Tagline:</label>
        <input type="text" id="tagline" name="tagline">
        <br>

        <label for="voteAverage">Promedio de votos:</label>
        <input type="number" step="0.01" id="voteAverage" name="voteAverage">
        <br>

        <input type="submit" value="Crear Película">
    </form>
</section>

<section th:if="${update}">
    <h2>Actualizar película</h2>
    <div class="menu">
        <form action="/entityMovieForUpdate" method="post">
            <input type="hidden" th:value="${movie.movieId}" name="movieId">
            <label for="action-select">Seleccione que desee gestionar:</label>
            <select id="action" name="selectedEntity">
                <option value="movieInfo">Datos de la película</option>
                <option value="movieCast">Elenco</option>
                <option value="movieCrew">Equipo</option>
                <option value="movieCompany">Compañias Productoras</option>
                <option value="movieKeyword">Palábras clave</option>
                <option value="movieGenre">Géneros de la película</option>
                <option value="movieLanguage">Idiomas de la película</option>
                <option value="movieCountry">Paises de producción</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>Atributo</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Id</td>
            <td th:text="${movie.movieId}"></td>
        </tr>
        <tr>
            <td>Título</td>
            <td th:text="${movie.title}"></td>
        </tr>
        <tr>
            <td>Presupuesto</td>
            <td th:text="${movie.budget}"></td>
        </tr>
        <tr>
            <td>Enlace</td>
            <td th:text="${movie.homepage}"></td>
        </tr>
        <tr>
            <td>Resumen</td>
            <td th:text="${movie.overview}"></td>
        </tr>
        <tr>
            <td>Popularidad</td>
            <td th:text="${movie.popularity}"></td>
        </tr>
        <tr>
            <td>Estreno</td>
            <td th:text="${movie.releaseDate}"></td>
        </tr>
        <tr>
            <td>Ingresos</td>
            <td th:text="${movie.revenue}"></td>
        </tr>
        <tr>
            <td>Duración</td>
            <td th:text="${movie.runtime}"></td>
        </tr>
        <tr>
            <td>Estado</td>
            <td th:text="${movie.movieStatus}"></td>
        </tr>
        <tr>
            <td>Tagline</td>
            <td th:text="${movie.tagline}"></td>
        </tr>
        <tr>
            <td>Votos</td>
            <td th:text="${movie.voteAverage}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${updateForm}" class="form-container">
        <form th:action="@{/updateMovie/{movieId}(movieId=${movie.movieId})}" method="post" class="update-form">
            <input type="hidden" th:value="${movie.movieId}" name="movieId">

            <div class="form-group">
                <label for="title2" class="form-label">Título:</label>
                <input type="text" id="title2" name="title" th:value="${movie.title}" class="form-input" >
            </div>

            <div class="form-group">
                <label for="budget2" class="form-label">Presupuesto:</label>
                <input type="number" id="budget2" name="budget" th:value="${movie.budget}" class="form-input">
            </div>

            <div class="form-group">
                <label for="homepage2" class="form-label">Enlace:</label>
                <input type="text" id="homepage2" name="homepage" th:value="${movie.homepage}" class="form-input">
            </div>

            <div class="form-group">
                <label for="overview2" class="form-label">Resumen:</label>
                <input type="text" id="overview2" name="overview" th:value="${movie.overview}" class="form-input">
            </div>

            <div class="form-group">
                <label for="popularity2" class="form-label">Popularidad:</label>
                <input type="number" step="0.01" id="popularity2" name="popularity" th:value="${movie.popularity}" class="form-input">
            </div>

            <div class="form-group">
                <label for="releaseDate2" class="form-label">Fecha de estreno:</label>
                <input type="date" id="releaseDate2" name="releaseDate" th:value="${movie.releaseDate}" class="form-input">
            </div>

            <div class="form-group">
                <label for="revenue2" class="form-label">Ingresos:</label>
                <input type="number" id="revenue2" name="revenue" th:value="${movie.revenue}" class="form-input">
            </div>

            <div class="form-group">
                <label for="runtime2" class="form-label">Duración:</label>
                <input type="number" id="runtime2" name="runtime" th:value="${movie.runtime}" class="form-input">
            </div>

            <div class="form-group">
                <label for="movieStatus2" class="form-label">Estado:</label>
                <input type="text" id="movieStatus2" name="movieStatus" th:value="${movie.movieStatus}" class="form-input">
            </div>

            <div class="form-group">
                <label for="tagline2" class="form-label">Tagline:</label>
                <input type="text" id="tagline2" name="tagline" th:value="${movie.tagline}" class="form-input">
            </div>

            <div class="form-group">
                <label for="voteAverage2" class="form-label">Promedio de votos:</label>
                <input type="number" step="0.01" id="voteAverage2" name="voteAverage" th:value="${movie.voteAverage}" class="form-input">
            </div>

            <div class="form-actions">
                <input type="submit" value="Actualizar Película" class="btn btn-primary">
            </div>
        </form>
    </div>



</section>

<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/js/crud.js"></script>

</body>
</html>
