<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Idiomas de la película</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/crud.js" defer></script>
    <link rel="stylesheet" href="/css/crud.css">
</head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};
    var jsonInfo2 = /*[[${jsonInfo2}]]*/ {};

</script>
<h1>Idiomas de la película</h1>
<div class="ui-widget">
    <form action="/addMovieLanguage" method="post">
        <input type="hidden" th:value="${movie.movieId}" name="movieId">
        <div class="input-group">
            <label for="tags">Nombre del idioma: </label>
            <input type="text" id="tags" name="languageName">
        </div>
        <div class="input-group2">
            <label for="tags2">Rol: </label>
            <input type="text" id="tags2" name="languageRole">
        </div>
        <input type="submit" value="Añadir">
    </form>
</div>
<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<section th:if="${movie}">
    <table>
        <thead>
        <tr>
            <th>Idioma</th>
            <th>Rol en la película</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movieLanguage : ${movieLanguages}">
            <td th:text="${movieLanguage.language.languageName}"></td>
            <td th:text="${movieLanguage.languageRole.languageRole}"></td>
            <td>
            <form class="deleteButtonForm" action="/deleteMovieLanguage" method="post" style="display:inline;">
                <input type="hidden" th:value="${movie.movieId}" name="movieId">
                <input type="hidden" th:value="${movieLanguage.language.languageId}" name="languageId">
                <input type="hidden" th:value="${movieLanguage.languageRole.roleId}" name="roleId">
                <button type="submit" class="btn btn-delete"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este idioma?')">
                    Eliminar
                </button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>
