<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/crud.js" defer></script>
    <link rel="stylesheet" href="/css/persons.css"></head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};

</script>
<h1>Personas</h1>
<div class="ui-widget">
    <form action="/persons" method="post">
    <label for="tags">Nombre de la persona: </label>
    <input type="text" id="tags" name="personSearch">
    <input type="submit">
    </form>
</div>
<h3>Crear nuevas personas</h3>
<form action="/persons" method="post">
    Nombre:<input type="text" name="personName">
    <br>
    <input type="submit">
</form>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <!-- Mostrar los resultados -->
    <tr th:each="p : ${persons}">
        <td th:text="${p.personId}"></td>
        <td th:text="${p.personName}"></td>
        <td></td>
    </tr>
    </tbody>
</table>

<div>
    <!-- Links to previous page, first, and last -->
    <a th:if="${currentPage > 0}"
       th:href="@{/persons(page=0, size=${size})}">Primero</a>

    <a th:if="${currentPage > 0}"
       th:href="@{/persons(page=${currentPage - 1}, size=${size})}">Anterior</a>

    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/persons(page=${currentPage + 1}, size=${size})}">Siguiente</a>

    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/persons(page=${totalPages - 1}, size=${size})}">Último</a>
</div>

<div class="pagination-info">
    <span>Página actual: <span th:text="${currentPage + 1}"></span> de <span th:text="${totalPages}"></span></span>
</div>
</body>
</html>
