<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Consulta Películas</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/crud.js" defer></script>
    <link rel="stylesheet" href="/css/crud.css">
</head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};

</script>

<h1>Buscador de películas</h1>
<div class="ui-widget">
    <form action="/selectQueries" method="post">
        <label for="action-select">Seleccione una forma de búsqueda:</label>
        <select id="action-select" name="actionSelect">
            <option value="movieTitol">Por título</option>
            <option value="actor">Por actor</option>
            <option value="character">Personaje</option>
            <option value="genre">Género de la película</option>
            <option value="director">Director</option>
        </select>
        <div class="input-group">
            <label for="tags">Añadir Idioma: </label>
            <input type="text" id="tags" name="languageName">
        </div>
        <input type="submit">
    </form>
</div>



</body>
</html>
